<div class="container-fluid bg-light">
    <div class="container bg-light">

        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white"></div>

            <div class="card bg-warning">
                <h4 class="text-white"> Deepan Todo List</h4>
            </div>
            <div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter task">
                    <button class="btn btn-outline-success" type="button" id="button-addon2">+</button>
                  </div>
            </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>